body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Indie Flower';
}

.main-container {
    border: solid black;
    display: grid;
   grid-template-columns: 1fr 10fr;
   grid-template-rows: 1fr 5fr 3fr;
    height: 100vh;
}

.header {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    height: 100%;
}



.content-container {
    grid-row: 2/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    background-image: url('./notebook.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.add-btn-container {
    /* border: solid black; */
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
   justify-self: center;
    align-self: start;
    padding-top: 25px;
}

.project-header-text {
    align-self: center;
    justify-self: center;
    font-size: 2.7rem;
}

.add-btn {
    background-image: url(./icons/task.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    justify-self: center;
    border: none;
}

#content {
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 750px);
    gap: 5px;
    padding-top: 15px;
}

.list-card {
    height: 60px;
    /* border: solid black; */
    box-shadow: 0 0 .6rem .1rem rgb(202, 214, 224);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 8px;
}

.list-card:hover {
    background-color: rgb(201, 219, 243);
}

.completed {
    text-decoration: line-through 3.5px;
    color: rgb(221, 2, 2);
}


.right-side-container, .left-side-container{
    display: flex;
    /* border: solid black 1.8px; */
    border-radius: 20px;
    width: 30%;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-side-container p {
    font-size: 1.4rem;
}

.delete-btn, 
.edit-btn,
.remove-btn,
.view-btn {
    width: 30px;
    height: 30px;
    border: none;
    align-self: center;
    cursor:pointer;
    background-color: transparent;
   
}

.delete-btn:hover,
.edit-btn:hover,
.remove-btn:hover,
.view-btn:hover,
.add-btn:hover,
.plus-btn:hover {

    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.delete-btn, .remove-btn {
    background-image: url(./icons/delete.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-btn {
    background-image: url('./icons/edit.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.view-btn {
    background-image: url(./icons/view.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}



.list-title {
    display: flex;
}

.list-card h1 {
    font-size: 25px;
}

.list-details {
    display: flex;
}


.side-bar {
    background-color: rgb(194, 188, 188);
    width: 180px;
    grid-column: 1;
    grid-row: 2/4;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr ;
    justify-items: center;
    padding-top: 15px;
}

.side-bar-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .side-bar-top-container button {
    align-self: center;
}

.side-bar-top-container p {
    align-self: center;
} 


.plus-btn {
    width:100px;
    height: 100px;
    align-self: flex-start;
    background-image: url(./icons/add.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.side-bar-project-container {
    border-top: solid black 1.8px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit,80px);;
   align-items: center;
    overflow-y: auto;
}

.side-bar-project-container h3 {
    justify-self: center;
}

.side-bar-project-cards {
    height: 40px;
    /* border: solid black; */
    box-shadow: 0 0 .6rem .1rem rgb(165, 170, 173);
   color: rgb(235, 235, 235);
   background-color: rgb(17, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3rem;

}

.side-bar-project-cards:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.side-bar-project-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    color: red;
    font-size: 1.3rem;
}


dialog {
    box-shadow: 0 0 .6rem .1rem rgb(182, 170, 170);
}

.list-form-dialog{
    border: none;
    height:570px;
    width: 350px;
    border-radius: 25px;
}

.list-form-dialog form, 
.edit-modal-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.list-form-dialog form {
    font-size: 1.9rem;
}

.list-form-dialog input, 
.edit-modal-form input {
    width: 90%;
    appearance: none;
    border: solid 1px rgb(180, 171, 171);
    border-radius:10px;
    margin: 4px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Indie Flower';
    font-size: 1.2rem;
   
}

.priority-btns {
   width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.priority-btns button {
   font-family: 'Indie Flower'; 
   display: inline-block;
   outline: 0;
   cursor: pointer;
   border: none;
   padding: 0 56px;
   height: 40px;
   line-height: 45px;
   border-radius: 7px;
   background-color: rgb(216, 209, 209);
   color: black;
   font-weight: 400;
   font-size: 1.5rem;
   box-shadow: 0 4px 14px 0 rgba(133, 134, 136, 0.39);
   transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.priority-btns #low:hover, 
.low-priority-edit-btn:hover {
    background: rgba(30, 204, 132, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.priority-btns #high:hover, 
.high-priority-edit-btn:hover {
    background: rgba(228, 67, 67, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.bottom-btn-container {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: flex-end;
}

.submit-btn {
   font-family: 'Indie Flower'; 
   display: inline-block;
   outline: 0;
   cursor: pointer;
   border: none;
   padding: 0 40px;
   height: 40px;
   line-height: 45px;
   border-radius: 7px;
   background-color: rgb(51, 151, 51);
   color: black;
   font-weight: 400;
   font-size: 1.5rem;
   box-shadow: 0 4px 14px 0 rgba(133, 134, 136, 0.39);
   transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.submit-btn:hover, .confirm-edit-btn:hover {
    background: rgba(30, 204, 132, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}



.close-btn, 
.cancel-edit-btn  {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    color: red;
}

.selected {
    border: solid black;
}

.edit-dialog {
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 585px;
}

.edit-modal-form {
    font-size: 30px;
}

 
.priority-edit-btns-container,
.bottom-edit-btns-container {
   width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
}

.priority-edit-btns-container {
    align-items: center;
}

.bottom-edit-btns-container {
    align-items: flex-end;
}



.priority-edit-btns-container button,
.confirm-edit-btn {
    font-family: 'Indie Flower'; 
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    line-height: 15px;
    border-radius: 7px;
    background-color: rgb(216, 209, 209);
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow: 0 4px 14px 0 rgba(133, 134, 136, 0.39);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.low-priority-edit-btn,
.high-priority-edit-btn {
    padding: 20px 69px;
}







.confirm-edit-btn {
    padding: 22px 79px;
    background-color: green;
}



.view-modal {
    width: 500px;
    height: 380px;
    border: none;
    border-radius: 25px;
}

.view-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    color: red;
}

.view-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
}

.title-container, .description-container, .list-items-container,
 .due-date-container, .priority-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid black;
    width: 95%;
    padding: 5px;
    gap: 10px;
    
}

.view-container h2 {
    margin: 0;
    font-size: 2rem;
}

.view-container p {
    font-size: 1.1rem;
}

.plus-dialog {
    border: none;
    width: 500px;
    height: 500px;
    padding: 0;
    border-radius: 25px;
}

.plus-dialog-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    height: 100%;
    width: 100%;
}

.add-new-todo-btn, .add-new-project-btn {
   font-size: 3.5rem;
   font-family: 'Indie Flower';
   border: none;
}

.add-new-project-btn {
    border-top: solid 1.5px rgb(150, 143, 143);
}

.add-new-todo-btn:hover,
.add-new-project-btn:hover {
  background-color: rgb(223, 223, 223);
}

.project-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    color: red;
} 

.new-project-dialog {
    width: 300px;
    height: 300px;
    padding: 0;
    border-radius: 20px;
    border: none;
}

.new-project-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    
}

.project-name-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.project-name-container input {
    width: 100%;
    appearance: none;
    border: solid 1px rgb(180, 171, 171);
    border-radius:10px;
    margin: 4px 0;
    padding: 8px 20px;
    box-sizing: border-box;
    font-family: 'Indie Flower';
    font-size: 1.5rem;
}



.new-proj-btn-container {
    height: 50%;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-proj-btn-container button {
    font-family: 'Indie Flower'; 
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 25px;
    height: 30px;
    width: 80%;
    line-height: 15px;
    border-radius: 7px;
    background-color: green;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow: 0 4px 14px 0 rgba(133, 136, 133, 0.39);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.new-proj-btn-container button:hover {
    background-color: rgb(33, 207, 33);
}




.hidden {
    display: none;
}


