body {
    margin: 0;
    min-height: 100vh;
}

.main-container {
    border: solid black;
    display: grid;
   grid-template-columns: 1fr 10fr;
   grid-template-rows: 1fr 5fr 3fr;
    height: 100vh;
}

.header {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    height: 100%;
}

.content-container {
    border: solid rgb(184, 11, 11);
    grid-row: 2/4;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.add-btn-container {
    /* border: solid black; */
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
   justify-self: center;
    align-self: start;
    padding-top: 25px;
}

.project-header-text {
    align-self: center;
    justify-self: center;
}

.add-btn {
    background-color: black;
    color:  whitesmoke;
    width: 80px;
    justify-self: center;
}

#content {
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 750px);
    gap: 5px;
 }

.list-card {
    height: 50px;
    border: solid black;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: rgb(230, 186, 186);
}


.right-side-container, .left-side-container{
    display: flex;
    border: solid black;
    width: 30%;
    justify-content: space-between;
}

.delete-btn, .edit-btn{
    width: 50px;
    border-radius: 12px;
}

.remove-btn {
    width: 60px;
    border-radius: 12px;
    font-size: .67rem;
}

.list-title {
    display: flex;
}

.list-card h1 {
    font-size: 25px;
}

.list-details {
    display: flex;
}


.side-bar {
    border: solid yellow;
    background-color: yellow;
    width: 180px;
    grid-column: 1;
    grid-row: 2/4;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr ;
    justify-items: center;
}

.side-bar-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .side-bar-top-container button {
    align-self: center;
}

.side-bar-top-container p {
    align-self: center;
} 


.plus-btn {
    width:75px;
    height: 50px;
    align-self: start;
    justify-self: center;
}

.side-bar-project-container {
    border: solid black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit,80px);;
    align-items: center;
}

.side-bar-project-container h3 {
    justify-self: center;
}

.side-bar-project-cards {
    height: 40px;
    border: solid black;
    display: flex;
    justify-content: center;
    position: relative;
}

.side-bar-project-delete {
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
}


dialog {
    border: solid black;
    height: 250px;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

.selected {
    border: solid black;
}

.edit-modal {
    border: solid black;
}

.view-modal {
    width: 570px;
    height: 340px;
}

.view-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
}

.view-container {
    display: flex;
    flex-direction: column; 

}

.title-container, .description-container, .list-items-container,
 .due-date-container, .priority-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid black;
    width: 90%;
    padding: 5px;
    gap: 10px;
}

.view-container h2 {
    margin: 0;
    font-size: 1.5rem;
}

.view-container p {
    font-size: 1rem;
}

.plus-dialog {
    border: solid black;
    width: 400px;
    height: 400px;
    padding: 0;
}

.plus-dialog-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    height: 100%;
    width: 100%;
    
}

.add-new-todo-btn, .add-new-project-btn {
   font-size: 2rem;
   border: none;
}

.add-new-project-btn {
    border-top: solid 1.5px rgb(150, 143, 143);
}

.project-modal-close {
    position: absolute;
    top: 1px;
    right: -35px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
}

.new-project-dialog {
    width: 250px;
    height: 250px;
    padding: 0;
}

.new-project-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.new-project-form button {
    width: 80px;
   height: 40px;

}


.hidden {
    display: none;
}